target/

# IDE-specific files
.idea/
.vscode/
*.iml

# Operating System files
.DS_Store
Thumbs.db

# Закодированные файлы
**.huff
**.extract

# Тестовые файлы
**/test_draw_barcode_works.png
**/test_draw_works.png
**/prng_quality.png